.header {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
  align-items: center;
  border-bottom: 2px solid black;
}
@media (max-width: 454px) {
  .header {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}

.pfp {
  border-radius: 150px;
  border: 1.5px solid white;
  text-align: center;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  flex-grow: 0;
}
.pfp p {
  font-size: 25px;
  margin-top: 50%;
  transform: translateY(-50%);
  margin-bottom: 0px;
}
.nameAndStats {
  margin-left: 50px;
}
#name {
  font-size: 23px;
  margin-bottom: 3px;
}
.stats {
  margin-top: 20px;
  position: relative;
  width: fit-content;
}
.stats button {
  color: var(--secondary-color);
  border: none;
  background-color: transparent;
}
.line {
  position: absolute;
  border-bottom: 0.5px solid white;
  top: 30px;
}
.lineInitial {
  transform: scaleX(0);
}
.moveToFollowingFromPost {
  width: 54.272px;
  left: 119.174px;
  animation-name: following-from-post;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.moveToFollowingFromFollowers {
  width: 54.272px;
  left: 119.174px;
  animation-name: following-from-followers;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.moveToPostFromFollowing {
  width: 35.616px;
  left: 4.452px;
  animation-name: post-from-following;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.moveToPostFromFollowers {
  left: 4.452px;
  width: 35.616px;
  animation-name: post-from-followers;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.moveToFollowersFromFollowing {
  left: 51.307px;
  width: 54.296px;
  animation-name: followers-from-following;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.moveToFollowersFromPost {
  left: 51.307px;
  width: 54.296px;
  animation-name: followers-from-post;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes following-from-post {
  0% {
    transform: translateX(-114.7px);
    width: 35.616px;
  }
  50% {
    transform: scaleX(0.25);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes following-from-followers {
  0% {
    transform: translateX(-67.867px);
    width: 54.296px;
  }
  50% {
    transform: scaleX(0.25);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes followers-from-following {
  0% {
    transform: translateX(67.867px);
    width: 54.272px;
  }
  50% {
    transform: scaleX(0.25);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes followers-from-post {
  0% {
    transform: translateX(-46.855px);
    width: 35.616px;
  }
  50% {
    transform: scaleX(0.25);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes post-from-following {
  0% {
    transform: translateX(114.7px);
    width: 54.272px;
  }
  50% {
    transform: scaleX(0.25);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes post-from-followers {
  0% {
    transform: translateX(46.855px);
    width: 54.272px;
  }
  50% {
    transform: scaleX(0.25);
  }
  100% {
    transform: scaleX(1);
  }
}

.showOnPosts {
  left: 4.452px;
  width: 35.616px;
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: linear;
  transform: scaleX(1);
}
.showOnFollowers {
  left: 51.307px;
  width: 54.296px;
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: linear;
  transform: scaleX(1);
}
.showOnFollowing {
  left: 119.174px;
  width: 54.272px;
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: linear;
  transform: scaleX(1);
}
.mainContainer {
  margin-top: 20px;
}
