.pfp {
  border: 0.5px solid;
  border-radius: 50px;
  width: 40px;
  font-size: 12px;
  height: 40px;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.name {
  color: #9fadbb;
}
.comment {
  align-items: center;
  gap: 10px;
}
.addComment {
  position: relative;
  width: 100%;
}
.addComment input {
  width: calc(100% - 50px);
  background-color: var(--form-elements-bg-color);
  border-color: var(--dark--reader-border);
  color: var(--primary-color);
  border: 0.1px solid;
  border-radius: 20px;
  padding: 10px;
  padding-right: 40px;
}
.container {
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.commentSection {
  gap: 10px;
}
.mainTextContainer {
  background-color: rgb(63, 63, 63);
  width: calc(100% - 40px);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mainText {
  margin-top: 3px;
  margin-bottom: 3px;
}
.userDate {
  justify-content: center;
  align-items: center;
}
.date {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}
.replies {
  color: rgb(64, 102, 255);
  width: fit-content;
}
.replies:hover {
  cursor: pointer;
  color: rgb(153, 64, 255);
}
.like:hover {
  cursor: pointer;
}
.likes {
  align-items: center;
  margin-top: 5px;
  gap: 5px;
}
.likesCount {
  margin-top: 0px;
  margin-bottom: 0px;
}
.replyButton:hover {
  cursor: pointer;
  color: rgb(153, 64, 255);
}
.replyButton {
  margin-top: 0px;
  margin-bottom: 0px;
}

.addReply {
  margin-left: 50px;
  margin-top: 10px;
  position: relative;
  gap: 10px;
}
.addReply input {
  width: calc(100% - 50px);
  background-color: var(--form-elements-bg-color);
  border-color: var(--dark--reader-border);
  color: var(--primary-color);
  border: 0.1px solid;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: fit-content;
  flex-shrink: 0;
  flex-grow: 0;
}
.addReply button {
  position: absolute;
  right: 0;
  transform: translateX(0%);
  border: none;
  background-color: transparent;
  top: 3px;
  color: var(--primary-color);
}
.showRepliesContainer {
  margin-left: auto;
  gap: 10px;
}
.showReplies {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
.showReplies:hover,
.fetchReplies:hover {
  cursor: pointer;
  color: rgb(153, 64, 255);
}
.fetchReplies {
  margin-top: 0px;
  margin-bottom: 0px;
}
