.pfp {
  border: 0.5px solid;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  font-size: 12px;
  text-align: center;
}
.comment {
  align-items: center;
  gap: 10px;
}
.addComment {
  position: relative;
  width: 100%;
}
.addComment input {
  width: calc(100% - 40px);
  background-color: var(--form-elements-bg-color);
  border-color: var(--dark--reader-border);
  color: var(--primary-color);
  border: 0.1px solid;
  border-radius: 20px;
  padding: 10px;
  padding-right: 40px;
}
.addCommentBtn {
  position: absolute;
  right: 0;
  transform: translateX(10%);
  border: none;
  background-color: transparent;
  top: 10px;
  color: var(--primary-color);
}
.container {
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.commentSection {
  gap: 10px;
}
.mainTextContainer {
  background-color: rgb(63, 63, 63);
  width: calc(100% - 40px);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mainText {
  margin-top: 10px;
  margin-bottom: 0px;
}
.userDate {
  justify-content: center;
  align-items: center;
}
.date {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}
.replies {
  color: rgb(64, 102, 255);
  width: fit-content;
}
.replies:hover {
  cursor: pointer;
  color: rgb(153, 64, 255);
}
