.nav {
  justify-content: center;
}
.navItems {
  gap: 5px;
}
.navItems li:hover {
  cursor: pointer;
}
.posts {
  gap: 10px;
  margin: 60px;
}
.toTheTop {
  position: fixed;
  border-radius: 50px;
  border: 0.5px solid black;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 90vh;
  left: 95vw;
  z-index: 99;
  background-color: var(--dark-reader-color);
  transform: translateX(-100%);
}
.toTheTop:hover {
  cursor: pointer;
}
.error {
  color: rgb(234, 31, 31);
}
