.replies {
  gap: 10px;
  margin-top: 10px;
}
.pfp {
  border: 0.5px solid;
  border-radius: 50px;
  width: 30px;
  font-size: 10px;
  height: 30px;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.name {
  color: #9fadbb;
}
.date {
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}
.reply {
  margin-left: 50px;
  width: calc(100% - 50px);
  gap: 10px;
  align-items: center;
}
.mainText {
  background-color: rgb(63, 63, 63);
  width: calc(100% - 40px);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text {
  margin-top: 3px;
  margin-bottom: 3px;
}
.likes {
  align-items: center;
  gap: 5px;
}
.like:hover {
  cursor: pointer;
}
.addCommentBtn {
  position: absolute;
  right: 0;
  transform: translateX(-10%);
  border: none;
  background-color: transparent;
  top: 10px;
  color: var(--primary-color);
}
.addReply {
  margin-left: 50px;
  margin-top: 10px;
  position: relative;
  align-items: center;
  gap: 10px;
}
.addReply input {
  width: calc(100% - 90px);
  background-color: var(--form-elements-bg-color);
  border-color: var(--dark--reader-border);
  color: var(--primary-color);
  border: 0.1px solid;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: fit-content;
  flex-shrink: 0;
  flex-grow: 0;
}
.addReply button {
  position: absolute;
  right: 0;
  top: 7px;
  border: none;
  background-color: transparent;
  color: var(--primary-color);
}
