:root {
  box-sizing: border-box;
  --border: 0.5px solid black;
  --main-color: rgb(31, 31, 31);
  --secondary-color: rgb(215, 215, 215);
  --dark-reader-text-d7d7d7: #d7d7d7;
  --dark-reader-text: #ceccca;
  --dark-reader-background-3535dd: #3535dd;
  --dark-reader-color: #313333;
  --dark-reader-border-858585: #858585;
  --btn-color: rgb(53, 53, 221);
  --light-dark: rgb(133, 133, 133);
  color: var(--secondary-color);
  --form-elements-bg-color: #3b3b3b;
}
body {
  margin: 0;
  background-color: var(--dark-reader-color);
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
li {
  list-style: none;
}
button {
  background-color: var(--btn-color);
}
button:hover {
  cursor: pointer;
}
.no-margin {
  margin: 0;
}
.errorAnimation {
  animation-duration: 300ms;
  animation-name: error;
  outline: none;
  border-color: red;
}
@keyframes error {
  0% {
    transform: translateX(3px);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}
