:root {
  box-sizing: border-box;
  --border: 0.5px solid black;
  --main-color: rgb(31, 31, 31);
  --secondary-color: rgb(215, 215, 215);
  --btn-color: rgb(53, 53, 221);
  background-color: var(--main-color);
  color: var(--secondary-color);
}
body {
  margin: 0;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
li {
  list-style: none;
}
button:hover {
  cursor: pointer;
}
